@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

* { 
	box-sizing: border-box;
    
}

body {
    /* background-image: url(https://source.unsplash.com/1600x900/?light); */
    background-image:url('Main_Bg.png');
    background-position: center;
}

.main {
    /* background-color: #B0FDA3; */
    margin: 0.7rem;
    
}

.titlePage {
    text-align: left;
    padding-top: 3rem;
    font-family: 'Montserrat', cursive;
    color: #fdf5df; 
    /* color: rgb(230, 230, 230); */
    font-weight: bold;
}

.imUp, .translate {
    /* background-color: rgba(225, 225, 225, 0.05); */
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    border-top: 1px solid #fdf5d5;
    border-left: 1px solid #fdf5df;
    padding: 2rem;
    border-radius: 0.6rem;
    font-family: 'Raleway', sans-serif;
    color: #fdf5df;
    /* color: black; */
    width: 50%;
}

.form-control , .form-select , option{
    border-color: #fdf5df;
    width: 70%;
    background-color: transparent;
    color: #fdf5df;
    /* color: black; */
}

.form-control:focus , .form-select:focus{
    width: 70%; 
    color: #fdf5df;
    /* color: black; */
    border-color: #fdf5df;
    box-shadow: none;
    background-color: transparent;
}

.form-control:hover {
    background-color: none;
}

select option {
    background: #2a2a2a;
}

.btn:focus {
    border-color: rgb(206, 212, 218);
    box-shadow: 0 0 0 0rem #e6e3f8;
    color: #fdf5df;
    /* color: black; */
}

input[type=file]{
    background-color: transparent;
    color: #fdf5df;
    /* color: black; */
}

.btn {
    position:inherit;
    color: #fdf5df;
    /* color: black; */
}

.btn:hover {
    color: #fdf5df;
    /* color: black; */
}